<div style="margin-bottom: 11vh;">
  <nav class="navbar fixed-top" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/logo.jpg" alt="Image Alt Text" class="image"></a>
    </div>
  </nav>
</div>
<div class="container">
  <form [formGroup]="AddQuestionAnswer" (ngSubmit)="onSubmit()">
    <div class="mb-2">
      <div style="padding: 10px;">
        <h2
          style="background-color: #cfe2ff; font-family: 'Times New Roman', serif; font-size: 24px; font-weight: bold; text-align: left; padding: 10px;">
          <strong>Customer Satisfaction Survey</strong>
        </h2>

        <div class="content-text" *ngFor="let element of header.Data" style="display: flex;">
          <!-- <span style="margin-right: 417px; margin-bottom: 5px;"><strong>Project:</strong> {{element.ProjectName}}</span> -->
          <div class="col-6 mb-3 mt-3 ">
            <label><strong>Project </strong></label>
            <input class="custom-input" type="text" value="{{element.ProjectName}}" style="margin-left: 100px;"
              readonly>
          </div>
          <!-- <span><strong>Aptara Contact:</strong> {{element.AptaraContact}}</span> -->
          <div class="col-6 mb-3 mt-3 ">
            <label><strong>Aptara Contact </strong></label>
            <input class="custom-input" type="text" value="{{element.AptaraContact}}" style="margin-left: 50px;">
          </div>
        </div>
        <!-- Your input boxes go here -->
        <div class="row g-1">
          <div class="col">
            <label for="ReviewerName"><strong>Reviewer Name </strong></label>
            <input type="text" class="custom-input" #Reviewer placeholder="Reviewer Name" id="ReviewerName"
              (input)="getName(Reviewer.value)" formControlName="ReviewerName" style="margin-left: 35px;">
          </div>
          <div class="col">
            <label for="ReviewerEmail"><strong>Reviewer Email </strong> </label>
            <input type="text" class="custom-input" #Email placeholder="Reviewer Email" id="ReviewerEmail"
              (input)="getEmail(Email.value)" formControlName="ReviewerEmail" style="margin-left: 49px;">
          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordionExample">
      <div class="accordion-item" *ngFor="let item of accordianItems; let i = index">
        <h2 class="accordion-header">
          <button class="accordion-button d-flex justify-content-between align-items-center" type="button"
            (click)="toggleAccordion(i)" [attr.aria-expanded]="isAccordionOpen(i)"
            [attr.aria-controls]="'collapse' + i"  >
            <!-- <span class="icon-container">
              <i class="bi bi-chevron-down" [ngClass]="{'rotate-icon': isAccordionOpen(i)}"></i>
            </span> -->
            <span>
             
              <strong>{{item.QuestionSerialNumber}}.{{ item.question }}</strong>
            </span>
          </button>
        </h2>
        <div [id]="'collapse' + i" class="accordion-collapse collapse" [ngClass]="{'show': isAccordionOpen(i)}">
          <div class="accordion-body">
            <table>
              <tbody>
                <tr>
                  <td style="height: 100px; width: 50%;">
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <strong>Description</strong>
                          </td>
                        </tr>
                        <tr>
                          <td style="align-items: left;">
                            {{ item.description }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <table>
                    <tbody>
                      <tr>
                        <td><strong>Evaluation</strong></td>
                      </tr>
                      <tr>
                        <td>
                    <tbody>
                      <tr>
                        <td class="table-cell" style="border-right: 1px solid #9aa09e;">{{item.Evaluation}}</td>
                        <td class="table-cell">{{item.Evaluation1}}</td>
                        <td class="table-cell" style="border-right: 1px solid #9aa09e;">{{item.Evaluation2}}</td>
                        <td class="table-cell">{{item.Evaluation3}}</td>
                        <td class="table-cell" style="border-right: 1px solid #9aa09e;">{{item.Evaluation4}}</td>
                        <td class="table-cell">{{item.Evaluation5}}</td>
                        <td class="table-cell">{{item.Evaluation6}}</td>
                        <td class="table-cell" style="border-right: 1px solid #9aa09e;">{{item.Evaluation7}}</td>
                        <td class="table-cell">{{item.Evaluation8}}</td>
                        <td class="table-cell" style="border-right: 1px solid #9aa09e;">{{item.Evaluation9}}</td>
                        <td class="table-cell">{{item.Evaluation10}}</td>
                      </tr>
                      <tr>


                        <td class="radio-cell" style="border-right: 1px solid #9aa09e;">
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="-"
                            (click)="handleRadioButtonSelection('-', item.QuestionSerialNumber)">
                        </td>
                        <td class="radio-cell">
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="1"
                            (click)="handleRadioButtonSelection('1', item.QuestionSerialNumber)">
                        </td>
                        <td class="radio-cell" style="border-right: 1px solid #9aa09e;">
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="2"
                            (click)="handleRadioButtonSelection('2', item.QuestionSerialNumber)">
                        </td>
                        <td class="radio-cell">
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="3"
                            (click)="handleRadioButtonSelection('3', item.QuestionSerialNumber)">
                        </td>
                        <td class="radio-cell" style="border-right: 1px solid #9aa09e;">
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="4"
                            (click)="handleRadioButtonSelection('4', item.QuestionSerialNumber)">
                        </td>
                        <td class="radio-cell">
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="5"
                            (click)="handleRadioButtonSelection('5', item.QuestionSerialNumber)">
                        </td>
                        <td class="radio-cell">
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="6"
                            (click)="handleRadioButtonSelection('6', item.QuestionSerialNumber)">
                        </td>
                        <td class="radio-cell" style="border-right: 1px solid #9aa09e;">
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="7"
                            (click)="handleRadioButtonSelection('7', item.QuestionSerialNumber)">
                        </td>
                        <td class="radio-cell">
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="8"
                            (click)="handleRadioButtonSelection('8', item.QuestionSerialNumber)">
                        </td>
                        <td class="radio-cell" style="border-right: 1px solid #9aa09e;">
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="9"
                            (click)="handleRadioButtonSelection('9', item.QuestionSerialNumber)">
                        </td>
                        <td class="radio-cell">
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="10"
                            (click)="handleRadioButtonSelection('10', item.QuestionSerialNumber)">
                        </td>
                      </tr>

                      <tr>
                        <td class="table-cell" style="border-right: 1px solid #9aa09e;"><strong>NA</strong></td>
                        <td class="table-cell" colspan="2" style="border-right: 1px solid #9aa09e;">
                          <strong>Never</strong>
                        </td>
                        <td class="table-cell" colspan="2" style="border-right: 1px solid #9aa09e;">
                          <strong>Rarely</strong>
                        </td>
                        <td class="table-cell" colspan="3" style="border-right: 1px solid #9aa09e;">
                          <strong>Sometimes</strong>
                        </td>
                        <td class="table-cell" colspan="2" style="border-right: 1px solid #9aa09e;">
                          <strong>Mostly</strong>
                        </td>
                        <td class="table-cell" colspan="1"><strong>Always</strong></td>


                      </tr>

                      <tr>
                        <td class="belowcolor" valign="middle" height="10" bgcolor="#9d9d9d" align="center"></td>
                        <td valign="middle" bgcolor="#ff0000" align="center"></td>
                        <td valign="middle" bgcolor="#ff0000" align="center"></td>
                        <td valign="middle" bgcolor="#ff0000" align="center"></td>
                        <td valign="middle" bgcolor="#ff0000" align="center"></td>
                        <td valign="middle" bgcolor="#ff0000" align="center"></td>
                        <td valign="middle" bgcolor="#ff0000" align="center"></td>
                        <td valign="middle" bgcolor="#ff0000" align="center"></td>
                        <td valign="middle" bgcolor="#FFFF00" align="center" colspan="2"></td>
                        <td valign="middle" bgcolor="#06cd00" align="center" colspan="2"></td>
                      </tr>
                    </tbody>
                    </td>
                </tr>

              </tbody>
            </table>
            </tr>


            </tbody>
            </table>
            <div>
              <div>
                <span>Remark</span>
                <textarea rows="4" cols="168" #txt placeholder="Enter your remark here..."
                  (input)="getRemark(txt.value,item.QuestionSerialNumber)" style="resize: none;"></textarea>
                <!-- <div class="error textError"
                  *ngIf="remarkControl.hasError('required') && (remarkControl.dirty || remarkControl.touched || isFormSubmitted)">
               Please enter a remark.
             </div> -->
              </div>
            </div>

            <!-- <div formArrayName="Remark">
              <div *ngFor="let remarkControl of GetBasicInfo.controls; let i = index">
                <span>Remark</span>
                <textarea rows="4" cols="168" #txt placeholder="Enter your remark here..."
                          [formControl]="remarkControl"
                          (input)="handleRemarkInput(i, txt.value)"></textarea>
                <div class="error textError"
                     *ngIf="remarkControl.hasError('required') && (remarkControl.dirty || remarkControl.touched || isFormSubmitted)">
                  Please enter a remark.
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" style="margin-top: 20px; width: 100px;">Submit</button>
    </div>
  </form>
</div>