<div class="container">
  <form (ngSubmit)="submitForm()" class="mt-4" #surveyForm="ngForm" novalidate>
    <h2>Customer Satisfaction Survey</h2>
    
    <div class="row">
      <div class="form-group col-md-6">
        <label for="category"><strong>Client Name:</strong></label>
        <select id="category" name="category" [(ngModel)]="selectedClient" #txt="ngModel" 
          (change)="onClientChange(txt.value)" class="form-control" aria-placeholder="select" required>
          <option value="0"  selected>Select Client</option>
          <option *ngFor="let client of clients" [value]="client.ClientId" [ngValue]="client.ClientId + ':' + client.ClientName">{{ client.ClientName }}</option>
        </select>
        <div *ngIf="selectedClient === '0' && linkButtonClicked  " class="text-danger">
          Client Name is required.
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="project"><strong>Project Name:</strong></label>
        <select id="project" name="project" [(ngModel)]="selectedProject" #Ac="ngModel" 
          (change)="onProjectChange(Ac.value)" class="form-control" required>
          <option value="0" selected>Select Project</option>
          <option *ngFor="let pj of Project" [value]="pj.ProjectId" [ngValue]="pj.ProjectId+ ':' + pj.ProjectName">{{ pj.ProjectName }}</option>
        </select>
        <div *ngIf="selectedProject === '0' && linkButtonClicked  " class="text-danger">
          Project Name is required.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-3">
        <label for=""></label><br>
        <button pButton type="submit" class="p-button-info" >Search</button>
      </div>
      
      <div class="form-group col-md-3">
        <label for=""></label><br>
        <button  pButton type="button" class="p-button-info" data-bs-toggle="modal" data-bs-target="#linkModal" 
          (click)="openLinkModal(clients)" style="margin-left :-200px;" >New Feedback Link</button>
      </div>
    </div>
  </form>
</div>


  
    <div class="mt-4" style="max-width: 1300px; overflow-y: auto;margin-left: 200px;">
      <p-table #dt [value]="resultList" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[50]" [showCurrentPageReport]="true"
      [resizableColumns]="true" styleClass="p-datatable-gridlines" scrollHeight="350px"
      columnResizeMode="expand"  class="table-bordered" [tableStyle]="{'min-height': '10rem;overflow:auto;'}"
      [globalFilterFields]="['ProjectName', 'ClientName', 'Email','ConatactName','IsSurveySubmittedOn','IsSurveySubmitted']" >
      
      <ng-template pTemplate="caption">
        <div class="table-header">
          <div class="search-container">
            <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input #fieldInput_1 pInputText type="text"
                     (input)="dt.filterGlobal(fieldInput_1.value, 'contains')" placeholder="Search Keyword"
                     style="width: 200px; border: 1px solid rgb(31, 30, 30); background-color: white;" class="form-control"/>
            </span>
            <button pButton type="button" class="btn-primary" style="margin-left: 30px;" (click)="exportData()">Export</button> 
          </div>
         
        </div>
      </ng-template>
      
      
      <ng-template pTemplate="header">
       


          <tr style="border: 1px solid #ddd; background-color: #f2f2f2;">
            <th pFrozenColumn style="min-width:0px">View</th>
            
            <th pFrozenColumn style="min-width:200px; border: 1px solid #ddd;" field="ClientName" pResizableColumn pSortableColumn="ClientName" style="min-width:200px">Client Name <p-sortIcon ></p-sortIcon></th>
            <th pFrozenColumn style="min-width:200px; border: 2px solid #ddd;" field="ProjectName" pResizableColumn pSortableColumn="ProjectName" style="min-width:200px">Project Name <p-sortIcon field="ProjectName"></p-sortIcon></th>
            <th  style="min-width:200px; border: 1px solid #ddd;"field="ConatactName" pResizableColumn pSortableColumn="ConatactName" style="min-width:200px"> Aptara Contact Name <p-sortIcon field="ConatactName"></p-sortIcon></th>
            <th field="Email" pResizableColumn pSortableColumn="Email" style="min-width:200px">Aptara Contact<p-sortIcon field="Email"></p-sortIcon></th>
            <th field="IsSurveySubmittedOn" pResizableColumn pSortableColumn="IsSurveyCreatedOn" style="min-width:200px">Survey Created Date<p-sortIcon field="IsSurveySubmittedOn"></p-sortIcon></th>
            <th field="IsSurveySubmittedOn" pResizableColumn pSortableColumn="IsSurveySubmittedOn" style="min-width:200px">Survey Feedback Date<p-sortIcon field="IsSurveySubmittedOn"></p-sortIcon></th>
            <th field="IsSurveySubmitted" pResizableColumn pSortableColumn="IsSurveySubmitted" style="min-width:200px">Is Survey Submitted?<p-sortIcon field="IsSurveySubmitted"></p-sortIcon></th>
            
          </tr>
          <tr>
            <th pFrozenColumn >

            </th>
         

            <th pFrozenColumn style="min-width:100px">
                <div class="flex justify-content-between align-items-center">
                    <p-columnFilter type="text" field="ClientName" matchMode="contains"></p-columnFilter>
                </div>
            </th>
            <th pFrozenColumn style="min-width:150px">
                <div class="flex justify-content-between align-items-center">
                    <p-columnFilter  field="ProjectName" matchMode="contains"></p-columnFilter>
                </div>
            </th>
            <th style="min-width:150px">
                <div class="flex justify-content-between align-items-center">
                    <p-columnFilter type="text" field="ConatactName" matchMode="contains"></p-columnFilter>
                </div>
            </th>
            <th style="min-width:150px">
              <div class="flex justify-content-between align-items-center">
                  <p-columnFilter type="text" field="Email" matchMode="contains"></p-columnFilter>
              </div>
          </th>
          <th style="min-width:150px">
            <div class="flex justify-content-between align-items-center">
                <p-columnFilter type="text" field="IsSurveyCreatedOn" matchMode="contains"></p-columnFilter>
            </div>
        </th>
          <th style="min-width:150px">
            <div class="flex justify-content-between align-items-center">
                <p-columnFilter type="text" field="IsSurveySubmittedOn" matchMode="contains"></p-columnFilter>
            </div>
        </th>
        
        <th style="min-width:150px">
          <div class="flex justify-content-between align-items-center">
              <p-columnFilter type="text" field="IsSurveySubmitted" matchMode="contains"></p-columnFilter>
          </div>
      </th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-client>
          <tr >
            <td pFrozenColumn>
          
              <!-- "View" button column -->
              <ng-container *ngIf="client.IsSurveySubmitted === 'Yes'">
                <button pButton type="button" class="p-button-info" [routerLink]="['/Feedback/Show', client.LinkGUID]">View</button>
              </ng-container>
            </td>
            <td pFrozenColumn>{{ client.ClientName }}</td>
            <td pFrozenColumn>{{ client.ProjectName }}</td>
            <td>{{ client.AptaraContactName }}</td>
            <td>{{ client.AptaraContact }}</td>
            <td>{{client.SurveyCreatedOn}}</td>
            <td>{{ client.ClientDate }}</td> 
            <td>{{ client.IsSurveySubmitted }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" >
          <tr>
              <td colspan="8"><span class="text-danger">No Records found.</span></td>
          </tr>
      </ng-template>
      </p-table>
    </div>
 
<form [formGroup]="linkModalData" *ngIf="linkButtonClicked" >
  <div class="modal fade" id="linkModal" tabindex="-1" aria-labelledby="linkModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5 ">New Feedback Link</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">  
          <input type="text" class="form-control" formControlName="ClientId" hidden>
          <input type="text" class="form-control" formControlName="ProjectId" hidden>
            <div class="row mt-3 ">
              <div class="col ">
                <h6 class="text-secondary">Client Name</h6>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" value="{{ClientNameForLink}}" readonly>
              </div>
            </div>
            <div class="row mt-3 ">
              <div class="col ">
                <h6 class="text-secondary">Project</h6>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" value="{{ProjectNameForLink}}" readonly>
              </div>
            </div>
            <div class="row mt-3 ">
              <div class="col ">
                <h6 class="text-secondary">Reviewer Name</h6>
              </div>
            </div>
           <div class="row">
              <div class="col">
                <input type="text" class="form-control" formControlName="ReviewerName">
              </div>
            </div> 
            <div class="row mt-3 ">
              <div class="col ">
                <h6 class="text-secondary">Reviewer Email</h6>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" formControlName="Clientemail" id="Clientemail">
                <div *ngIf="linkModalData.get('Clientemail').hasError('required') && linkModalData.get('Clientemail').touched" class="text-danger">
                  Email is required.
                </div>
                <div *ngIf="linkModalData.get('Clientemail').hasError('email') && linkModalData.get('Clientemail').touched" class="text-danger">
                  Invalid email format.
                </div>
                <div *ngIf="linkModalData.get('Clientemail').hasError('invalidEmails') && linkModalData.get('Clientemail').touched" class="text-danger">
                  Invalid email addresses.
                </div>
               
              </div>
            </div>        
        
        <!-- <div class="row mt-3 ">
              <div class="col ">
                <h6 class="text-secondary">Reviewer Email</h6>

              </div>
            </div>

            <div class="row">
              <div class="col">
                <input type="text" class="form-control" formControlName="ReviewerEmail" id="ReviewerEmail">
               
                <div *ngIf="linkModalData.get('ReviewerEmail').hasError('required') && linkModalData.get('ReviewerEmail').touched" class="text-danger">
                  Email is required.
                </div>
                <div *ngIf="linkModalData.get('ReviewerEmail').hasError('email') && linkModalData.get('ReviewerEmail').touched" class="text-danger">
                  Invalid email format.
                </div>
                <div *ngIf="linkModalData.get('ReviewerEmail').hasError('invalidEmails') && linkModalData.get('ReviewerEmail').touched" class="text-danger">
                  Invalid email addresses.
                </div>
              </div>
            </div>  -->
          <div class="row mt-3 ">
            <div class="col ">
              <h6 class="text-secondary">Comment</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <textarea rows="3" cols="80" #txt placeholder="Enter your comment here..." class="form-control" formControlName="Remark">
              </textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="submitModalForm($event)">Share</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeLinkModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>