.modal-header, .modal-footer {
    border: none;
  }

  .note {
    position: relative;
    display: inline-block;
  }
  /* .table-header {
    display: flex;
    justify-content: space-between;
} */
