.modal-header, .modal-footer {
    border: none;
  }

  .note {
    position: relative;
    display: inline-block;
  }
  /* .table-header {
    display: flex;
    justify-content: space-between;
} */
.Main-Class{
  display:flex;
  
}

.pTable{
  overflow: hidden;
}

*{
  margin:0px
 }