.modal-header, .modal-footer {
    border: none;
  }

  .note {
    position: relative;
    display: inline-block;
  }
  /* .table-header {
    display: flex;
    justify-content: space-between;
} */
.Main-Class{
  display:flex;
  
}

.pTable{
  overflow: hidden;
}
body{
  margin:0px

}
 /* *{
  margin:0px

} */

.ModalContent{
  margin-right: 2000px;
  width: 800px;

 } 