<body>  
  <div style="margin-left: 25px;">
  <form (ngSubmit)="submitForm()" class="mt-4" #surveyForm="ngForm" novalidate>
    <h2>Customer Satisfaction Survey</h2>
    <br>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="category"><strong>Client Name:</strong></label>
        <select id="category" name="category" [(ngModel)]="selectedClient" #txt="ngModel" 
          (change)="onClientChange(txt.value)" class="form-control" aria-placeholder="select" required>
          <option value="0"  selected>Select Client</option>
          <option *ngFor="let client of clients" [value]="client.ClientId" [ngValue]="client.ClientId + ':' + client.ClientName">{{ client.ClientName }}</option>
        </select>
        <div *ngIf="selectedClient === '0' && linkButtonClicked  " class="text-danger">
          Client Name is required.
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="project"><strong>Project Name:</strong></label>
        <select id="project" name="project" [(ngModel)]="selectedProject" #Ac="ngModel" 
          (change)="onProjectChange(Ac.value)" class="form-control" required>
          <option value="0" selected>Select Project</option>
          <option *ngFor="let pj of Project" [value]="pj.ProjectId" [ngValue]="pj.ProjectId+ ':' + pj.ProjectName">{{ pj.ProjectName }}</option>
        </select>
        <div *ngIf="selectedProject === '0'&& linkButtonClicked " class="text-danger">
          Project Name is required.
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 20px;">
      <div class="form-group col-md-1" >
        <label for=""></label><br>
        <button pButton type="submit" class="p-button-info" >Search</button>
      </div>
      
      <div class="form-group col-md-2">
        <label for=""></label><br>
        <button  pButton type="button" class="p-button-info" 
          (click)="openLinkModal(clients)" >New Feedback Link</button>
      </div>
    </div>
  </form>
</div>


  
<div class="mt-4" style="margin: 25px;">
      <p-table #dt class="pTable" [value]="resultList" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[50]" [showCurrentPageReport]="true"
      [resizableColumns]="true" styleClass="p-datatable-gridlines" scrollHeight="300px"
      columnResizeMode="expand" class="table-bordered" [tableStyle]="{ 'height': '300px; '}"
      [globalFilterFields]="['ProjectName', 'ClientName', 'Email','ConatactName','IsSurveySubmittedOn','LinkGUID']">
      
      <ng-template pTemplate="caption">
        <div class="table-header">
          <div class="search-container">
            <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input #fieldInput_1 pInputText type="text"
                     (input)="dt.filterGlobal(fieldInput_1.value, 'contains')" placeholder="Search Keyword"
                     style="width: 200px; border: 1px solid rgb(31, 30, 30); background-color: white;" class="form-control"/>
            </span>
            <button pButton type="button" class="btn-primary" style="margin-left: 30px;" (click)="exportData()">Export</button> 
          </div>
         
        </div>
      </ng-template>
      
      
      <ng-template pTemplate="header" style="height: 10px;">
       


          <tr style="border: 1px solid #ddd; background-color: #f2f2f2;">
            <th pFrozenColumn style="min-width:0px">View</th>
            
            <th pFrozenColumn style="min-width:200px; border: 1px solid #ddd;" field="ClientName" pResizableColumn pSortableColumn="ClientName" style="min-width:200px">Client Name <p-sortIcon ></p-sortIcon></th>
            <th pFrozenColumn style="min-width:200px; border: 2px solid #ddd;" field="ProjectName" pResizableColumn pSortableColumn="ProjectName" style="min-width:200px">Project Name <p-sortIcon field="ProjectName"></p-sortIcon></th>
            <th  style="min-width:200px; border: 1px solid #ddd;"field="ConatactName" pResizableColumn pSortableColumn="ConatactName" style="min-width:200px"> Reviewer Name <p-sortIcon field="ConatactName"></p-sortIcon></th>
            <th field="Email" pResizableColumn pSortableColumn="Email" style="min-width:200px">Reviewer Email<p-sortIcon field="Email"></p-sortIcon></th>
            <th field="IsSurveyCreatedOn" pResizableColumn pSortableColumn="IsSurveyCreatedOn" style="min-width:200px">Survey Created Date<p-sortIcon field="IsSurveySubmittedOn"></p-sortIcon></th>
            <th field="IsSurveySubmittedOn" pResizableColumn pSortableColumn="IsSurveySubmittedOn" style="min-width:200px">Survey Feedback Date<p-sortIcon field="IsSurveySubmittedOn"></p-sortIcon></th>
            <th field="LinkGUID" pResizableColumn pSortableColumn="LinkGUID" style="min-width:200px">GUID<p-sortIcon field="LinkGUID"></p-sortIcon></th>
            
          </tr>
          <tr>
            <th pFrozenColumn >

            </th>
         

            <th pFrozenColumn style="min-width:100px">
                <div class="flex justify-content-between align-items-center">
                    <p-columnFilter type="text" field="ClientName" matchMode="contains"></p-columnFilter>
                </div>
            </th>
            <th pFrozenColumn style="min-width:150px">
                <div class="flex justify-content-between align-items-center">
                    <p-columnFilter  field="ProjectName" matchMode="contains"></p-columnFilter>
                </div>
            </th>
            <th style="min-width:150px">
                <div class="flex justify-content-between align-items-center">
                    <p-columnFilter type="text" field="ConatactName" matchMode="contains"></p-columnFilter>
                </div>
            </th>
            <th style="min-width:150px">
              <div class="flex justify-content-between align-items-center">
                  <p-columnFilter type="text" field="Email" matchMode="contains"></p-columnFilter>
              </div>
          </th>
          <th style="min-width:150px">
            <div class="flex justify-content-between align-items-center">
                <p-columnFilter type="text" field="IsSurveyCreatedOn" matchMode="contains"></p-columnFilter>
            </div>
        </th>
          <th style="min-width:150px">
            <div class="flex justify-content-between align-items-center">
                <p-columnFilter type="text" field="IsSurveySubmittedOn" matchMode="contains"></p-columnFilter>
            </div>
        </th>
        
        <th style="min-width:150px">
          <div class="flex justify-content-between align-items-center">
              <p-columnFilter type="text" field="LinkGUID" matchMode="contains"></p-columnFilter>
          </div>
      </th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-client>
          <tr >
            <td pFrozenColumn>
              <!-- "View" button column -->
              <ng-container *ngIf="client.IsSurveySubmitted === 'No'">
                <button pButton type="button" class="p-button-info" (click)="sendData(client)">Resend</button>
              </ng-container>
              <ng-container *ngIf="client.IsSurveySubmitted === 'Yes'">
                <button pButton type="button" class="p-button-info" [routerLink]="['/Feedback/Show', client.LinkGUID]">View</button>
              </ng-container>
            </td>
            <td pFrozenColumn>{{ client.ClientName }}</td>
            <td pFrozenColumn>{{ client.ProjectName }}</td>
            <td>{{ client.ReviewerName }}</td>
            <td>{{ client.ReviewerEmail }}</td>
            <td>{{client.SurveyCreatedOn}}</td>
            <td>{{client.ClientDate }}</td> 
            <td>{{ client.LinkGUID }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" >
          <tr>
              <td colspan="8"><span class="text-danger">No Records found.</span></td>
          </tr>
      </ng-template>
      </p-table>
    </div>

<!-- <form [formGroup]="linkModalData" *ngIf="linkButtonClicked" class="ModalContent" #myform>
  <div class="modal fade" id="linkModal" tabindex="-1" aria-labelledby="linkModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5 ">New Feedback Link</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">  
          <input type="text" class="form-control" formControlName="ClientId" hidden>
          <input type="text" class="form-control" formControlName="ProjectId" hidden>
            <div class="row mt-3 ">
              <div class="col ">
                <h6 class="text-secondary">Client Name</h6>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" value="{{ClientNameForLink}}" readonly>
              </div>
            </div>
            <div class="row mt-3 ">
              <div class="col ">
                <h6 class="text-secondary">Project</h6>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" value="{{ProjectNameForLink}}" readonly>
              </div>
            </div>
            <div class="row mt-3 ">
              <div class="col ">
                <h6 class="text-secondary">Reviewer Name</h6>
              </div>
            </div>
           <div class="row">
              <div class="col">
                <input type="text" class="form-control" formControlName="ReviewerName">
              </div>
            </div> 
            <div class="row mt-3 ">
              <div class="col ">
                <h6 class="text-secondary">Reviewer Email</h6>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" formControlName="ReviewerEmail" id="ReviewerEmail">
                <div *ngIf="linkModalData.get('ReviewerEmail').hasError('required') && linkModalData.get('ReviewerEmail').touched " class="text-danger">
                  Email is required.
                </div>
                <div *ngIf="linkModalData.get('ReviewerEmail').hasError('email') && linkModalData.get('ReviewerEmail').touched" class="text-danger">
                  Invalid email format.
                </div>
                <div *ngIf="linkModalData.get('ReviewerEmail').hasError('invalidEmails') && linkModalData.get('ReviewerEmail').touched" class="text-danger">
                  Invalid email addresses.
                </div>
                <div *ngIf="linkModalData.get('ReviewerEmail').hasError('required')" class="text-danger">
                  Please enter emil.
                </div>
              </div>
            </div>        
        
      
          <div class="row mt-3 ">
            <div class="col ">
              <h6 class="text-secondary">Comment</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <textarea rows="3" cols="80" #txt placeholder="Enter your comment here..." style="resize: none;" class="form-control" formControlName="Remark">
              </textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"  type="submit"  (click)="submitModalForm($event)">Send</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeLinkModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</form> -->
<p-dialog header="New Feedback Link" [(visible)]="display" *ngIf="linkButtonClicked" [modal]="true">
  <form [formGroup]="linkModalData" #myform>
<div class="modal-body">  
  <input type="text" class="form-control" formControlName="ClientId" hidden>
  <input type="text" class="form-control" formControlName="ProjectId" hidden>
    <div class="row mt-3 ">
      <div class="col ">
        <h6 class="text-secondary">Client Name</h6>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" value="{{ClientNameForLink}}" readonly>
      </div>
    </div>
    <div class="row mt-3 ">
      <div class="col ">
        <h6 class="text-secondary">Project</h6>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" value="{{ProjectNameForLink}}" readonly>
      </div>
    </div>
    <div class="row mt-3 ">
      <div class="col ">
        <h6 class="text-secondary">Reviewer Name</h6>
      </div>
    </div>
   <div class="row">
      <div class="col">
        <input type="text" class="form-control" formControlName="ReviewerName">
      </div>
    </div> 
    <div class="row mt-3 ">
      <div class="col ">
        <h6 class="text-secondary">Reviewer Email</h6>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" formControlName="ReviewerEmail" id="ReviewerEmail">
        <div *ngIf="linkModalData.get('ReviewerEmail').hasError('required') && linkModalData.get('ReviewerEmail').touched " class="text-danger">
          Email is required.
        </div>
        <div *ngIf="linkModalData.get('ReviewerEmail').hasError('email') && linkModalData.get('ReviewerEmail').touched" class="text-danger">
          Invalid email format.
        </div>
        <div *ngIf="linkModalData.get('ReviewerEmail').hasError('invalidEmails') && linkModalData.get('ReviewerEmail').touched" class="text-danger">
          Invalid email addresses.
        </div>
        <div *ngIf="linkModalData.get('ReviewerEmail').hasError('required')" class="text-danger">
          Please enter emil.
        </div>
      </div>
    </div>        


  <div class="row mt-3 ">
    <div class="col ">
      <h6 class="text-secondary">Comment</h6>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <textarea rows="3" cols="80" #txt placeholder="Enter your comment here..." style="resize: none;" class="form-control" formControlName="Remark">
      </textarea>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary"  type="submit"  (click)="submitModalForm($event)">Send</button>
  <button type="button" class="btn btn-secondary" style="margin-left: 10px;" data-bs-dismiss="modal" (click)="closeLinkModal()">Close</button>
</div>

</form> 
</p-dialog>
</body>