body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   
    background-color: #f0f0f0; /* Light gray background color */
}

.centered-div {
    
    background-color:white;
}