<div class="mt-4" style="max-width: 1170px; overflow-y: auto;margin-left: 120px;">
<button class="btn btn-primary btn-lg" routerLink="/AddEditClient" style="min-width: 150px;">Add</button>
<br><br>
<div class="checkbox">
  <input type="checkbox" [(ngModel)]="isChecked" (change)="retrieveData()">
  Include Deleted Records
</div>
<p-table #dt [value]="clients" [paginator]="true" [rows]="20" [rowsPerPageOptions]="[20]"
[showCurrentPageReport]="true" [resizableColumns]="true" styleClass="p-datatable-gridlines" scrollHeight="350px"
columnResizeMode="expand" class="table-bordered" [tableStyle]="{'min-height': '10rem;overflow:auto;'}">
  <ng-template pTemplate="header">
    <tr style="border: 1px solid #ddd; background-color: #f2f2f2; position: sticky; top: 0; z-index: 1;">
      <th style="min-width:100px">Action</th>
      <th style="min-width:100px; border: 1px solid #ddd;" field="Name" pResizableColumn
      pSortableColumn="Name" style="min-width:200px"> Name <p-sortIcon></p-sortIcon></th>
      <!-- <th>Last Name</th> -->
      <th style="min-width:100px; border: 1px solid #ddd;" field="Email" pResizableColumn
      pSortableColumn="Name" style="min-width:200px"> Email <p-sortIcon></p-sortIcon></th>
      <th style="min-width:100px; border: 1px solid #ddd;" field="Status" pResizableColumn
      pSortableColumn="Status" style="min-width:200px"> Status <p-sortIcon></p-sortIcon></th>

    </tr>
    <tr style="position: sticky; top: 40px; z-index: 1;">
      <th></th>
      <th style="min-width:100px">
          <div class="flex justify-content-between align-items-center">
              <p-columnFilter field="Name" matchMode="contains"></p-columnFilter>
          </div>
      </th>
      <th style="min-width:100px">
        <div class="flex justify-content-between align-items-center">
            <p-columnFilter field="Email" matchMode="contains"></p-columnFilter>
        </div>
    </th>
    <th style="min-width:100px">
      <div class="flex justify-content-between align-items-center">
          <p-columnFilter field="Status" matchMode="contains"></p-columnFilter>
      </div>
  </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-client>
    <tr>
      <td>
        <span class="edit-btn" style="margin-left: 10px;">
          <i class="pi pi-trash" (click)="deleteClient(client.ClientId,$event)" *ngIf="client.IsActive === true">
          </i>
        </span>
        <span class="edit-btn" style="margin-left: 10px;">
          <i class="pi pi-pencil" (click)="editClient(client)" *ngIf="client.IsActive === true">
          </i>
        </span>
        <span class="edit-btn" style="margin-left: 10px;">
          <i class="pi pi-check" *ngIf="client.IsActive === false" (click)="EnableUser(client.ClientId,$event)">
          </i>
        </span>
        <!-- <button pButton icon="pi pi-pencil" label="Edit" (click)="editClient(client)"></button>
          <button pButton icon="pi pi-trash" label="Delete" ></button> -->
      </td>
      <td>{{ client.ClientName }}</td>
      <!-- <td>{{ user.lastName }}</td> -->
      <td>{{ client.ClientEmail}}</td>
      <td>{{ client.IsActive? 'ACTIVE' : 'INACTIVE' }}</td>

    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="8"><span class="text-danger">No Records found.</span></td>
    </tr>
</ng-template>
</p-table>
</div>
<p-confirmDialog></p-confirmDialog>