<button pButton routerLink="/AddEditClient">Add</button>
<p-table [value]="clients">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <!-- <th>Last Name</th> -->
        <th>Email</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
      <tr>
        <td>{{ client.ClientName }}</td>
        <!-- <td>{{ user.lastName }}</td> -->
        <td>{{ client.ClientEmail}}</td>
        <td>
          <button pButton icon="pi pi-pencil" label="Edit" (click)="editClient(client)"></button>
          <button pButton icon="pi pi-trash" label="Delete" ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>