<app-header *ngIf="!isPrintMode" ></app-header>
<div class="container">

  <form [formGroup]="AddQuestionAnswer">
    <div class="mb-3" style="display: flex; justify-content: space-between; align-items: center;" *ngIf="!isPrintMode">

      <button type="submit" class="btn btn-primary" style="margin-left:85% ;margin-top: 30px;" (click)="navigateBack()">Home</button>
      <button type="button" class="btn btn-secondary" style="margin-top: 30px;" (click)="printPreview()">Print Preview</button>
    
    </div>
    
    <div class="mb-2 print-content">
      <div  class="mb3"  style="padding: 10px;">
        <h2
          style="background-color: #cfe2ff; font-family: 'Times New Roman', serif; font-size: 24px; font-weight: bold; text-align: left; padding: 10px;">
          <strong>Customer Satisfaction Survey Preview</strong>
        </h2>

        <div class="content-text" *ngIf="resultData.Data" style="display: flex;">
          <!-- <span style="margin-right: 417px; margin-bottom: 5px;"><strong>Project:</strong> {{element.ProjectName}}</span> -->
          <div class="col-6 mb-3 mt-3 ">
            <label style="font-size: 20px"><strong>Client Name :</strong></label>
            <label for="" value="text"  id="lblClientName" style="margin-left: 10px; font-size: 20px;"> {{resultData.Data[0].ClientName}}</label>
            <!-- <input class="custom-input" type="text" value="{{resultData.Data[0].ClientName}}" style="margin-left: 120px; width: 300px;"
              readonly> -->
          </div>
          <!-- <span><strong>Aptara Contact:</strong> {{element.AptaraContact}}</span> -->
          <div class="col-6 mb-3 mt-3 ">
            <label style="font-size: 20px"><strong>Project Name :</strong></label>
            <label for="" value="text"  id="lblProjectName" style="margin-left: 10px;font-size: 20px"> {{resultData.Data[0].ProjectName}}</label>
            <!-- <input class="custom-input" type="text" value="{{resultData.Data[0].ProjectName}}" style="margin-left: 110px;  width: 300px;" readonly> -->
          </div>
        </div>

        <div class="content-text" *ngIf="resultData.Data" style="display: flex;">
          <!-- <span style="margin-right: 417px; margin-bottom: 5px;"><strong>Project:</strong> {{element.ProjectName}}</span> -->
          <div class="col-6 mb-3 mt-3 ">
            <label style="font-size: 20px"><strong>Reviewer Name : </strong></label>
            <label for="" value="text" id="lblReviewerName" style="margin-left: 10px;font-size: 20px"> {{resultData.Data[0].ReviewerName}}</label>
            <!-- <input class="custom-input" type="text" value="{{resultData.Data[0].ReviewerName}}" style="margin-left: 95px; width: 300px;"
              readonly> -->
          </div>
          <!-- <span><strong>Aptara Contact:</strong> {{element.AptaraContact}}</span> -->
          <div class="col-6 mb-3 mt-3 ">
            <label style="font-size: 20px"><strong>Reviewer Email :</strong></label>
            <label for="" value="text"  id="lblReviewerEmail" style="margin-left: 10px;font-size: 20px"> {{resultData.Data[0].ReviewerEmail}}</label>
            <!-- <input class="custom-input" type="text" value="{{resultData.Data[0].ReviewerEmail}}" style="margin-left: 100px;  width: 300px;" readonly> -->
          </div>
        </div>
        <!-- <div class="content-text" *ngIf="resultData.Data" style="display: flex;">
           <span style="margin-right: 417px; margin-bottom: 5px;"><strong>Project:</strong> {{element.ProjectName}}</span> -->
          <!-- <div class="col-6 mb-3 mt-3 ">
            <label><strong>Aptara Contact Name</strong></label>
            <input class="custom-input" type="text" value="{{resultData.Data[0].AptaraContactName}}" style="margin-left: 50px; width: 300px;"
              readonly>
          </div> 
          <span><strong>Aptara Contact:</strong> {{element.AptaraContact}}</span> 
          <div class="col-6 mb-3 mt-3 ">
            <label><strong>Aptara Contact</strong></label>
            <input class="custom-input" type="text" value="{{resultData.Data[0].AptaraContact}}" style="margin-left: 100px;  width: 300px;" readonly>
          </div>
        </div> -->


        <div class="content-text" *ngIf="resultData.Data" style="display: flex;">
          <!-- <span style="margin-right: 417px; margin-bottom: 5px;"><strong>Project:</strong> {{element.ProjectName}}</span> -->
          <div class="col-6 mb-3 mt-3 ">
            <label style="font-size: 20px"><strong>Survey Created On :</strong></label>
            <label for="" value="text"  id="lblSurveyCreatedOn" style="margin-left: 10px;font-size: 20px"> {{resultData.Data[0].SurveyCreatedOn}}</label>
            <!-- <input class="custom-input" type="text" value="{{resultData.Data[0].SurveyCreatedOn}}" style="margin-left: 70px; width: 300px;" -->
              <!-- readonly> -->
          </div>
          <!-- <span><strong>Aptara Contact:</strong> {{element.AptaraContact}}</span> -->
          <div class="col-6 mb-3 mt-3 ">
            <label  style="font-size: 20px"><strong>Survey Submitted On :</strong></label>
            <label for="" value="text"  id="lblSurveyLastUpdatedOn" style="margin-left: 10px;font-size: 20px"> {{resultData.Data[0].SurveyLastUpdatedOn}}</label>
            <!-- <input class="custom-input" type="text" value="{{resultData.Data[0].SurveyLastUpdatedOn}}" style="margin-left: 30px;  width: 300px;" readonly> -->
          </div>
        </div>
        <!-- Your input boxes go here -->
        <!-- <div class="content-text" *ngFor="let element of resultData.Data"  style="display: flex;">
          <div class="col-6 mb-3 mt-3 ">
            <label for="ReviewerName"><strong>Reviewer Name </strong></label>
            <input type="text" class="custom-input" 
               style="margin-left: 35px;" value="{{element.ReviewerName}}" style="margin-left: 80px;" readonly>
          </div>
          <div class="col-6 mb-3 mt-3 ">
            <label for="ReviewerEmail"><strong>Reviewer Email </strong> </label>
            <input type="text" class="custom-input" 
              value="{{element.ReviewerEmail}}" style="margin-left: 49px;" readonly>
          </div>
        </div>
      </div>
  
        <div class="row g-1"  *ngFor="let element of resultData.Data">
          <div class="col">
            <label for="ReviewerName"><strong>Aptara Contact Name</strong></label>
            <input type="text" class="custom-input" value="{{element.AptaraContactName}}"
              style="margin-left: 40px;" readonly>
          </div>
          <div class="col">
            <label for="ReviewerEmail"><strong>Aptara Email</strong> </label>
            <input type="text" class="custom-input"  value="{{element.AptaraContact}}"
               style="margin-left: 65px;" readonly>
          </div> -->
         
    </div> 
  </div>
  <div class="chart-container"  style="margin-top: 30px !important;">
    <div class="question-column">
      <div class="evaluation-header">
       
        <div class="evaluation-header-item left-align" style="font-size: 20px"><strong>Question</strong></div>
      </div>
      <div *ngFor="let item of resultData.Data" class="evaluation-item">
       
        <div class="evaluation-cell left-align"><strong>{{ item.QuestionSerialNumber }}.</strong>  {{ item.Question }}</div>
      </div>
    </div>
    <div class="evaluation-column">
      <div class="evaluation-header">
        <div *ngFor="let i of getNumbersArray()" class="evaluation-header-item"><strong>{{ i }}</strong></div>
      </div>
      <div *ngFor="let item of resultData.Data" class="evaluation-item">
        <div *ngFor="let i of getNumbersArray()" [style.background-color]="getEvaluationColor(item.SubmittedEvaluation, i)" class="evaluation-cell">
          {{ i === 0 ? '' : i }}
        </div>
      </div>
    </div>
  </div>

  <div class="button-container" style="margin-top: 30px !important;">
    <button pButton type="button" (click)="expandAll()" style="height: 30px;">Expand All</button>
    <button pButton type="button" (click)="collapseAll()" style="margin-left: 20px; height: 30px;">Collapse All</button>
  </div>
  
    <div class="accordion" id="accordionExample"  style="margin-top: 30px !important;">
      <div class="accordion-item" *ngFor="let item of accordianItems; let i = index">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse' + i" [attr.aria-expanded]="true" [attr.aria-controls]="'collapse' + i">
            <div class="row">
              <div class="col-md-12">
                <span><strong>{{item.QuestionSerialNumber}}. {{item.question}}</strong></span>
               </div>
               <div>
           <span style="margin-left: 1000px;">
             <strong>Submitted Evaluation :</strong> 
                {{item.SubmittedEvaluation}}
              </span></div>
            </div>
          </button>

        </h2>
        <div [id]="'collapse' + i" class="accordion-collapse collapse show" [ngClass]="{'show': isAccordionOpen(item)}">
          <div class="accordion-body">

            <table>
              <tbody>
                <tr>
                  <td style="height: 100px; width: 50%;">
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <strong>Description</strong>
                          </td>
                        </tr>
                        <tr>
                          <td style="align-items: left;">
                            {{ item.description }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <table>
                    <tbody>
                      <tr>
                        <td><strong>Evaluation</strong></td>
                      </tr>
                      <tr>
                        <td>
                    <tbody>
                      <tr>
                        <td class="table-cell" style="border-right: 1px solid #9aa09e;">{{item.Evaluation}}</td>
                        <td class="table-cell">{{item.Evaluation1}}</td>
                        <td class="table-cell" style="border-right: 1px solid #9aa09e;">{{item.Evaluation2}}</td>
                        <td class="table-cell">{{item.Evaluation3}}</td>
                        <td class="table-cell" style="border-right: 1px solid #9aa09e;">{{item.Evaluation4}}</td>
                        <td class="table-cell">{{item.Evaluation5}}</td>
                        <td class="table-cell">{{item.Evaluation6}}</td>
                        <td class="table-cell" style="border-right: 1px solid #9aa09e;">{{item.Evaluation7}}</td>
                        <td class="table-cell">{{item.Evaluation8}}</td>
                        <td class="table-cell" style="border-right: 1px solid #9aa09e;">{{item.Evaluation9}}</td>
                        <td class="table-cell">{{item.Evaluation10}}</td>
                      </tr>
                      <tr>


                        <td class="radio-cell" #radioButtonGroup style="border-right: 1px solid #9aa09e;">
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="0"
                            (click)="handleRadioButtonSelection('0', item.QuestionSerialNumber)"
                            [checked]="item.SubmittedEvaluation === 0" disabled>
                        </td>
                        <td class="radio-cell" #radioButtonGroup>
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="1"
                            (click)="handleRadioButtonSelection('1', item.QuestionSerialNumber)"
                            [checked]="item.SubmittedEvaluation === 1" disabled>
                        </td>
                        <td class="radio-cell" #radioButtonGroup style="border-right: 1px solid #9aa09e;">
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="2"
                            (click)="handleRadioButtonSelection('2', item.QuestionSerialNumber)"
                            [checked]="item.SubmittedEvaluation === 2" disabled>
                        </td>
                        <td class="radio-cell" #radioButtonGroup>
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="3"
                            (click)="handleRadioButtonSelection('3', item.QuestionSerialNumber)"
                            [checked]="item.SubmittedEvaluation === 3" disabled>
                        </td>
                        <td class="radio-cell" #radioButtonGroup style="border-right: 1px solid #9aa09e;">
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="4"
                            (click)="handleRadioButtonSelection('4', item.QuestionSerialNumber)"
                            [checked]="item.SubmittedEvaluation === 4" disabled>
                        </td>
                        <td class="radio-cell" #radioButtonGroup>
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="5"
                            (click)="handleRadioButtonSelection('5', item.QuestionSerialNumber)"
                            [checked]="item.SubmittedEvaluation === 5" disabled>
                        </td>
                        <td class="radio-cell" #radioButtonGroup>
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="6"
                            (click)="handleRadioButtonSelection('6', item.QuestionSerialNumber)"
                            [checked]="item.SubmittedEvaluation === 6" disabled>
                        </td>
                        <td class="radio-cell" #radioButtonGroup style="border-right: 1px solid #9aa09e;">
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="7"
                            (click)="handleRadioButtonSelection('7', item.QuestionSerialNumber)"
                            [checked]="item.SubmittedEvaluation === 7" disabled>
                        </td>
                        <td class="radio-cell" #radioButtonGroup>
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="8"
                            (click)="handleRadioButtonSelection('8', item.QuestionSerialNumber)"
                            [checked]="item.SubmittedEvaluation === 8" disabled>
                        </td>
                        <td class="radio-cell" #radioButtonGroup style="border-right: 1px solid #9aa09e;">
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="9"
                            (click)="handleRadioButtonSelection('9', item.QuestionSerialNumber)"
                            [checked]="item.SubmittedEvaluation === 9" disabled>
                        </td>
                        <td class="radio-cell" #radioButtonGroup>
                          <input type="radio" [name]="'numericRadio-' + item.QuestionSerialNumber" value="10"
                            (click)="handleRadioButtonSelection('10', item.QuestionSerialNumber)"
                            [checked]="item.SubmittedEvaluation === 10 " disabled>
                        </td>
                      </tr>

                      <tr>
                        <td class="table-cell" style="border-right: 1px solid #9aa09e;"><strong>NA</strong></td>
                        <td class="table-cell" colspan="2" style="border-right: 1px solid #9aa09e;">
                          <strong>Never</strong>
                        </td>
                        <td class="table-cell" colspan="2" style="border-right: 1px solid #9aa09e;">
                          <strong>Rarely</strong>
                        </td>
                        <td class="table-cell" colspan="3" style="border-right: 1px solid #9aa09e;">
                          <strong>Sometimes</strong>
                        </td>
                        <td class="table-cell" colspan="2" style="border-right: 1px solid #9aa09e;">
                          <strong>Mostly</strong>
                        </td>
                        <td class="table-cell" colspan="1"><strong>Always</strong></td>
                      </tr>
                      <tr>
                        <td class="belowcolor" valign="middle" height="10" bgcolor="#9d9d9d" align="center"></td>
                        <td valign="middle" bgcolor="#ff0000" align="center"></td>
                        <td valign="middle" bgcolor="#ff0000" align="center"></td>
                        <td valign="middle" bgcolor="#ff0000" align="center"></td>
                        <td valign="middle" bgcolor="#ff0000" align="center"></td>
                        <td valign="middle" bgcolor="#ff0000" align="center"></td>
                        <td valign="middle" bgcolor="#ff0000" align="center"></td>
                        <td valign="middle" bgcolor="#ff0000" align="center"></td>
                        <td valign="middle" bgcolor="#FFFF00" align="center" colspan="2"></td>
                        <td valign="middle" bgcolor="#06cd00" align="center" colspan="2"></td>
                      </tr>
                    </tbody>
                    </td>
                </tr>

              </tbody>
            </table>
            </tr>
            </tbody>
            </table>
            <!-- <hr> -->
            <span><strong>Remark</strong> </span>
            <textarea rows="4" cols="168" #txt placeholder="Enter your remark here..." readonly
              style="resize: none;">{{item.Remarks}}</textarea>

          </div>
        </div>
      </div>
      <!-- <button type="submit">Submit</button> -->
    </div>
  </form>
</div>
<app-footer *ngIf="!isPrintMode"style="width: 100px;"></app-footer>