
<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                               <strong>Description</strong>
                            </td>
                        </tr>
                        <tr>
                            <td style="align-items: left;">
                              
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <table>
                <tbody>
                    <tr>
                        <td><strong>Evaluation</strong></td>
                    </tr>
                    <tr>
                        <td>
                           <tbody>
                            <tr>
                                <td class="table-cell" style="border-right: 1px solid #9aa09e;">-</td>
                                <td class="table-cell">1</td>
                                <td class="table-cell" style="border-right: 1px solid #9aa09e;">2</td>
                                <td class="table-cell">3</td>
                                <td class="table-cell" style="border-right: 1px solid #9aa09e;">4</td>
                                <td class="table-cell">5</td>
                                <td class="table-cell" style="border-right: 1px solid #9aa09e;">6</td>
                                <td class="table-cell">7</td>
                                <td class="table-cell" style="border-right: 1px solid #9aa09e;">8</td>
                                <td class="table-cell">9</td>
                                <td class="table-cell">10</td>
                                
                            </tr>
                            <tr>
                               
                                    <td class="radio-cell" style="border-right: 1px solid #9aa09e;"><input type="radio" name="numericRadio" value="-"></td>
                                    <td class="radio-cell"><input type="radio" name="numericRadio" value="1"></td>
                                    <td class="radio-cell" style="border-right: 1px solid #9aa09e;"><input type="radio" name="numericRadio" value="2"></td>
                                    <td class="radio-cell"><input type="radio" name="numericRadio" value="3"></td>
                                    <td class="radio-cell" style="border-right: 1px solid #9aa09e;"><input type="radio" name="numericRadio" value="4"></td>
                                    <td class="radio-cell"><input type="radio" name="numericRadio" value="5"></td>
                                    <td class="radio-cell" style="border-right: 1px solid #9aa09e;"><input type="radio" name="numericRadio" value="6"></td>
                                    <td class="radio-cell"><input type="radio" name="numericRadio" value="7"></td>
                                    <td class="radio-cell" style="border-right: 1px solid #9aa09e;"><input type="radio" name="numericRadio" value="8"></td>
                                    <td class="radio-cell"><input type="radio" name="numericRadio" value="9"></td>
                                    <td class="radio-cell" ><input type="radio" name="numericRadio" value="10"></td>
                                  </tr>
                                  
                        <tr>
                                <td class="table-cell" style="border-right: 1px solid #9aa09e;" ><strong>NA</strong></td>
                                <td class="table-cell" colspan="2" style="border-right: 1px solid #9aa09e;"><strong>Never</strong></td>
                                <td class="table-cell" colspan="2" style="border-right: 1px solid #9aa09e;"><strong>Rarely</strong></td>
                                <td class="table-cell" colspan="2" style="border-right: 1px solid #9aa09e;"><strong>Sometimes</strong></td>
                                <td class="table-cell" colspan="2" style="border-right: 1px solid #9aa09e;"><strong>Mostly</strong></td>
                                <td class="table-cell" colspan="2"><strong>Always</strong></td>
                             
                              
                        </tr>

                        <tr>
                            <td class="belowcolor" valign="middle" height="10" bgcolor="#9d9d9d" align="center"></td>
                            <td valign="middle" bgcolor="#ff0000" align="center"></td>
                            <td valign="middle" bgcolor="#ff0000" align="center"></td>
                            <td valign="middle" bgcolor="#ff0000" align="center"></td>
                            <td valign="middle" bgcolor="#ff0000" align="center"></td>
                            <td valign="middle" bgcolor="#ff0000" align="center"></td>
                            <td valign="middle" bgcolor="#ff0000" align="center"></td>
                            <td valign="middle" bgcolor="#FFFF00" align="center"></td>
                            <td valign="middle" bgcolor="#FFFF00" align="center"></td>
                            <td valign="middle" bgcolor="#06cd00" align="center" colspan="2"></td>
                          </tr>
                              
                           </tbody>
                        </td>
                    </tr>

                </tbody>
            </table>
        </tr>
        
     
    </tbody>
</table>  
<hr>
        <span>Comment</span>
        <textarea rows="4" cols="168" placeholder="Enter your comments here..."></textarea>
 
