
<div style="display: flex; flex: 1;">
    <div style="background-color: #e3f2fd; padding-top: 0px; width: 180px; height: 600px; position: relative;">
      <!-- Your vertical navbar content goes here -->
      <div style="margin-left: 20px;">
        <button routerLink="/UserMaster" class="nav-link">User Management</button><br>
        <button routerLink="/ClientDashboard" class="nav-link">Client Management</button><br>
        <button routerLink="/ProjectDashboard" class="nav-link">Project Management</button>
      </div>
      <!-- Add more links as needed -->
    </div>
  </div>

  