
.nav-link {
    background-color: transparent;
    border: none;
    color: #000; /* Set your desired text color */
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 3px;
  }
  
  .nav-link:hover {
    background-color: #b5b3bd; /* Set your desired hover background color */
  }
  