<div class="container-fluid Container-First" [ngClass]="{ 'hide-header': hideHeaderOnPrint }">
  <app-header *ngIf="router.url!='/Login' && router.url!='/ThankYou' && !router.url.startsWith('/UserDashboard/')  && router.url!='/SubmittedResponse'  && router.url!='/BadResponse'&& !router.url.startsWith('/Feedback/') && !router.url.startsWith('/ForgetPassward')"></app-header>

  <div class="Main-fluid">
    <div class="Sidebar">
      <app-sidebar *ngIf="showSidebar()"></app-sidebar>
    </div>
    

    <div class="main-container" >
      <router-outlet></router-outlet> 
    </div>
  </div>

  <app-footer *ngIf="router.url!='/Login'&& !router.url.startsWith('/Feedback/')&& !router.url.startsWith('/ForgetPassward/')"></app-footer>
  <p-toast></p-toast>
</div>
