<!-- <div style="margin-bottom: 11vh;"> -->
   
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/Dashboard">
                <img src="assets/logo.png" class="image" style="width: 100px; max-height: 400px;">
            </a>
      
    
    

            <div class="collapse navbar-collapse" id="navbarScroll" style="margin-left: 1500px !important;">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span *ngIf="FirstName" class="user-name"><strong>{{ LoggedUserName }}
                                    {{SirName}}</strong></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" type="submit" routerLink="/Login">Logout</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" 
                                data-bs-target="#changePassModal" (click)="toggleNavbar()">Change Password</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
<!-- </div> -->
<form [formGroup]="changePassModalData">
    <div class="modal fade" id="changePassModal" tabindex="-1" aria-labelledby="changePassModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5 ">Change Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" formControlName="UserMasterID" hidden>
                    <div class="row mt-3 ">
                        <div class="col ">
                            <h6 class="text-secondary">New Password</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="password" class="form-control" formControlName="NewPassword">
                            <div *ngIf="changePassModalData.get('NewPassword')?.hasError('required')">
                                <p class="text-danger">New Password is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 ">
                        <div class="col ">
                            <h6 class="text-secondary">Confirm New Password</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="password" class="form-control" formControlName="ConfirmPassword">
                            <div *ngIf="changePassModalData.hasError('passwordsMatch')">
                                <p class="text-danger">New Password and Confirm Password must match.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 ">
                        <div class="col ">
                            <h6 class="text-secondary">Old Password</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="password" class="form-control" formControlName="OldPassword">
                            <div *ngIf="changePassModalData.hasError('oldPasswordDifferent')">
                                <p class="text-danger">Old Password must be different from New Password.</p>
                            </div>
                             <div *ngIf="changePassModalData.hasError('oldPasswordSameAsUserpass')">
                                <p class="text-danger">Enter valid Old Password</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        (click)="submitModalForm($event)">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
