<div style="margin-bottom: 11vh;">
    <nav class="navbar fixed-top" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="assets/logo.jpg" alt="Image Alt Text" class="image"></a>
            

            <span *ngIf="FirstName" class="user-name" style="margin-left: 1000px;"><strong>{{ LoggedUserName }} {{SirName}}</strong></span>
            
            <form class="d-flex" role="search">           
                <button class="btn btn-info" type="submit" routerLink="/Login">Logout</button>
            </form>
        </div>
    </nav>
</div>
